[{rabbit,        [
          {auth_backends, [rabbit_auth_backend_cache]},
                  {ssl_options, [{cacertfile, "<YOUR_PATH>/ca_certificate.pem"},
                                 {certfile,   "<YOUR_PATH>/server_certificate.pem"},
                                 {keyfile,    "<YOUR_PATH>/server_key.pem"},
                                 {verify,     verify_none},
                                 {fail_if_no_peer_cert, false}]}
                 ]},
 {rabbitmq_auth_backend_cache, [
                                {cached_backend, rabbit_auth_backend_http},
                  {cache_ttl, 180000}
                               ]
  },
  {rabbitmq_auth_backend_http, [{http_method,   post},
                                {user_path,            "http://<IP_AUTH_BACKEND>:<PORT_AUTH>/api/auth/user"},
                                {vhost_path,           "http://<IP_AUTH_BACKEND>:<PORT_AUTH>/api/auth/vhost"},
                                {resource_path,        "http://<IP_AUTH_BACKEND>:<PORT_AUTH>/api/auth/resource"},
                                {topic_path,           "http://<IP_AUTH_BACKEND>:<PORT_AUTH>/api/auth/topic"}
                               ]
  },
 {rabbitmq_mqtt, [
                  {ssl_listeners,    [8883]},
                  {tcp_listeners,    [1883]}
                  ]}
].